   
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
        nav {
            text-align: center;
        }

        body {
            font-family: cairo, sans-serif;
            background-color: #e7e3e3;
            margin: 0;
            padding: 0;
          
        }


        header {
            background-color: #3e53b105;
            font-family: cairo, sans-serif;
            color: #fff;
            padding: 15px;
            text-align: center;
            background-image: url(https://scu.eg/storage/2023/04/%D8%B5%D9%88%D8%B1%D8%A9-%D8%A7%D9%84%D9%85%D9%83%D8%AA%D8%A8%D8%A9-%D8%A7%D9%84%D8%B1%D9%82%D9%85%D9%8A%D8%A9.jpeg);
            
        }

        .new-bar {
            background-color: #2e222200;
            font-family: cairo, sans-serif;
            overflow: hidden;
            white-space: nowrap;
            
        }
        .new-bar span {
            display: inline-block;
            padding: 10px;
            animation: scrollnews 40s linear infinite;
        }
        @keyframes scrollnews {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
        }


        nav a {
            color: #0606076c;
            text-decoration: none;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            background-color: #ffffff00;
            padding: 15px;
            margin: 0 10px;
        }
        nav a:hover {
            background-color: #c5c8da;
            color: #fff;
        }

        .container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    padding: 25px;
    background-color: #a59f9f;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
        .cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,.2);
    cursor: pointer;
    color: #3e53b1;
}
    footer {
      text-align: center;
      padding: 24px;
      background: #777b80a1;
      color: white;
      margin-top: 30px;
      transition: 0.3s;
      display: flex;
      justify-content: center;
    }
    
    footer:hover {
      cursor: pointer;
      box-shadow: 0 6px 18px rgba(0,0,0,.2);
      transform: scale(1.02);
      filter: brightness(1);
    }
    footer h3 {
      margin: 5px 0 0;
      font-size: 1.5em;
    }